---
title: Dynatrace Full-Stack Add-on for PCF
owner: Partners
---

This documentation describes the Dynatrace Full-Stack Add-on for Pivotal Cloud Foundry (PCF). The Dynatrace Full-Stack Add-on
for PCF enables operators to roll out Dynatrace OneAgent to both Pivotal Application Service (PAS) and Pivotal Container Service (PKS) clusters and installed tiles for monitoring the platform and deployed apps.


## <a id='overview'></a> Overview

Dynatrace Full-Stack Add-on for PCF enables monitoring of PCF components like Pivotal Elastic Runtime/Pivotal Application Service (PAS), Pivotal Application Service for Windows/PCF Runtime for Windows, Pivotal Container Service (PKS), and all applications deployed to PCF (PAS and/or PKS). After the Dynatrace Full-Stack Add-on for PCF is deployed to the platform, Dynatrace OneAgent automatically begins monitoring any deployed apps. Developers can use the Dynatrace web UI to get insights into the performance of their apps and microservices.


## <a id='features'></a> Key Features

Dynatrace Full-Stack Add-on includes the following key features:

* Monitoring of PCF components
* Automatic monitoring of deployed apps across both PAS and PKS
* Automatic distributed tracing of microservices across both PAS and PKS
* Automatic discovery of deployment dependencies and communication behavior
* Automatic root-cause analysis and AI-based problem detection


## <a id="snapshot"></a> Product Snapshot

The following table provides version and version-support information about Dynatrace Full-Stack Add-on for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 25, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.2.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.2.x, v2.3.x, v2.4.x, and v2.5.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.2.x, v2.3.x, v2.4.x, and v2.5.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>v1.2.x, 1.3.x, and 1.4.x</td>
    </tr>
</table>

## <a id="reqs"></a> Requirements

Dynatrace Full-Stack Add-on has the following requirements:

+ A Dynatrace monitoring environment
+ PCF operator administration rights
+ BOSH deployed through Ops Manager v2.2.x or later
+ BOSH CLI v2


## <a id="feedback"></a> Feedback

If you have a feature request, questions, or information about a bug, email [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io).
