---
title: Dynatrace Full-Stack Add-on for PCF
owner: Partners
---

This documentation describes the Dynatrace Full-Stack Add-on for Pivotal Cloud Foundry (PCF). The Dynatrace Full-Stack Add-on
for PCF enables operators to roll out Dynatrace OneAgent to CF clusters and installed tiles for monitoring the platform and deployed apps.

## <a id='overview'></a>Overview

Dynatrace Full-Stack Add-on for PCF enables monitoring of PCF components like Pivotal Elastic Runtime/Pivotal Application Service, Pivotal Application Service for Windows/PCF Runtime for Windows, Pivotal Container Service (PKS), and all apps deployed to PCF.
After the Dynatrace Full-Stack Add-on for PCF is deployed to the platform, Dynatrace OneAgent automatically begins monitoring any deployed apps. Developers
can use the Dynatrace web UI to get insights into the performance of their apps and microservices.

## <a id='features'></a>Key Features

Dynatrace Full-Stack Add-on includes the following key features:

* Monitoring of PCF components
* Automatic monitoring of deployed apps
* Automatic distributed tracing of microservices
* Automatic discovery of deployment dependencies and communication behavior
* Automatic root-cause analysis and AI-based problem detection


## <a id="snapshot"></a>Product Snapshot

<p class='note'><strong>Note:</strong> As of PCF v2.0, Elastic Runtime is renamed Pivotal Application Service (PAS).</p>

The following table provides version and version-support information about Dynatrace Full-Stack Add-on for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 27, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.0.4</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x, v1.12.x, v2.0.x, v2.1.x, and v2.2.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v1.10.x, v1.11.x, v1.12.x, v2.0.x, v2.1.x, and v2.2.x</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Dynatrace Full-Stack Add-on has the following requirements:

+ A Dynatrace monitoring environment
+ PCF operator administration rights
+ BOSH deployed through Ops Manager v1.11 or later
+ bosh2 cli

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io).
