---
title: Dynatrace Full-Stack Add-on for PCF (Beta)
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note">
<strong>Note: </strong>
The Dynatrace Full-Stack Add-on for PCF tile is currently in beta and is intended for evaluation and test purposes only.
</p>

This documentation describes the Dynatrace Full-Stack Add-on for Pivotal Cloud Foundry (PCF). The Dynatrace Full-Stack Add-on
for PCF enables operators to roll out Dynatrace OneAgent to CF clusters and installed tiles for monitoring the platform and deployed applications.

## <a id='overview'></a>Overview

Dynatrace Full-Stack Addon for PCF enables monitoring of PCF components like PCF Elastic Runtime, PCF Runtime for Windows, and all applications deployed to PCF.
Once the Dynatrace Full-Stack Addon was deployed to the platform, Dynatrace OneAgent will automatically start monitoirng any deployed applications. Developers
can use Dynatrace UI to get insights into their apps and microservices.

## <a id='features'></a>Key Features

Dynatrace Full-Stack Addon includes the following key features:

* Monitoring of PCF components.
* Automatic monitoring of deployed applications.
* Automatic distributed tracing of microservices.
* Automatic discovery of deployment dependencies and communication behavior.
* Automatic root-cause analysis and AI-based problem detection


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.3.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 12, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.3.2</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10.x</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Dynatrace Full-Stack Addon has the following requirements:

+ A Dynatrace environment
+ Pivotal Cloud Foundry (PCF) operator administration rights
+ BOSH deployed through Ops Manager 1.10 or later

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.
