---
title: Release Notes for the Dynatrace Full-Stack Add-on for PCF
owner: Partners
---

Here are the release notes for the Dynatrace Full-Stack Add-on for Pivotal Cloud Foundry (PCF).

##<a id="ver"></a>v1.0.4 

**Release Date:** Aug 24, 2018

Features included in this release:

* Option to set hostgroup for VMs in deployment
* Option to define host tags for VMs in deployment
* Option to define custom properties for VMs in deployment
* Option to enable cloud infrastructure monitoring mode
* Fixed possible race condition which prevented draining the oneagent-release from Windows diego cells under high load.

##<a id="ver"></a>v1.0.3 

**Release Date:** May 2, 2018

Features included in this release:

* Job packages in spec files made empty arrays instead of nil
* oneagenthelper was removed
* Overall stability of OneAgent deployment improved
* Fixed race condition with agent auto-update


##<a id="ver"></a> v0.3.4

**Release Date:** January 18, 2018

Features included in this release:

* Separate monit task for oneagenthelper
* Improved logging
* Added pre-start script to roll out the agent before other jobs run

##<a id="ver"></a> v0.3.3

**Release Date:** June 9, 2017

Features included in this release:

* BOSH job for deploying Dynatrace OneAgent to Linux VMs
* BOSH job for deploying Dynatrace OneAgent to Windows VMs
* Flag for accepting self-signed certificates for OneAgent deployment
* Property to specify proxy credentials in proxied environments
