---
title: Release Notes for the Dynatrace Full-Stack Add-on for Pivotal Platform
owner: Partners
---

Here are the release notes for the Dynatrace Full-Stack Add-on for Pivotal Platform.

## <a id="ver"></a> v1.2.1

**Release Date:** April 25, 2019

Fixed with this release:

* For Windows-based VMs the OneAgent BOSH release will now use the .exe instead of the .msi installer
* Allowing TLS, TLS1.1 and TLS1.2 in order to guarantee a secure download of the OneAgent for Windows-based VMs


## <a id="ver"></a> v1.2.0

**Release Date:** March 7, 2019

Features included in this release:

* Optionally verify the agent download. It is off by default, and it can be activated by setting the Dynatrace property `validatedownload` to true in the runtime config.
* A custom property has been added on host-level, named BOSHReleaseVersion, that includes the version of Dynatrace BOSH Release installed.

Fixed with this release:

* Windows job has been refactored. Now if there are issues with the agent download or installation then the deployment fails.
* Agent logs and config were deleted when draining the Linux OneAgent job. They are now left in place. Also the logs from the job itself.


## <a id="ver"></a> v1.1.0

**Release Date:** January 22, 2019

Features included in this release:

* Support for Xenial stemcells
* Improved logging for download errors
* Updated integration tests and added documentation for that

Fixed with this release:

* Dynatrace installation is now validated
* Download-retry timeout is now respected

## <a id="ver"></a> v1.0.4 

**Release Date:** August 27, 2018

Features included in this release:

* Option to set hostgroup for VMs in deployment
* Option to define host tags for VMs in deployment
* Option to define custom properties for VMs in deployment
* Option to enable cloud infrastructure monitoring mode
* Fixed possible race condition which prevented draining the oneagent-release from Windows Diego cells under high load.


## <a id="ver"></a> v1.0.3 

**Release Date:** May 2, 2018

Features included in this release:

* Job packages in spec files made empty arrays instead of nil
* oneagenthelper was removed
* Overall stability of OneAgent deployment improved
* Fixed race condition with agent auto-update


## <a id="ver"></a> v0.3.4

**Release Date:** January 18, 2018

Features included in this release:

* Separate monit task for oneagenthelper
* Improved logging
* Added pre-start script to roll out the agent before other jobs run


## <a id="ver"></a> v0.3.3

**Release Date:** June 9, 2017

Features included in this release:

* BOSH job for deploying Dynatrace OneAgent to Linux VMs
* BOSH job for deploying Dynatrace OneAgent to Windows VMs
* Flag for accepting self-signed certificates for OneAgent deployment
* Property to specify proxy credentials in proxied environments
