---
title: Troubleshooting the Dynatrace Full-Stack Add-on for VMware Tanzu
owner: Partners
---

<strong><%= modified_date %></strong>

This topic provides instructions to verify that Dynatrace OneAgent works with your VMware Tanzu deployment.


## <a id="verify"></a> Verify Your Dynatrace Add-on for VMware Tanzu Installation

1. Check your Dynatrace environment for new monitored hosts.

1. [BOSH SSH](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-trouble-advanced.html) into one of the VMs in your deployment.

1. Run `sudo su -` to enter the root environment with root privileges.

1. Run `monit summary`. Look for the following processes in the output:

    <pre class="terminal">The Monit daemon 5.2.5 uptime: 8d 11h 33m
    Process 'dynatrace-oneagent'        running</pre>

1. If `monit summary` does not list `dynatrace-oneagent`, check `/var/vcap/sys/log/dynatrace-oneagent/` logs for errors.


## <a id='known-limitations'></a> Known Limitations

### <a id="dynatrace-installation-issues"></a> p-invitations App Does Not Start

#### Symptom

Running the errands for installing AppsManager fails.

#### Explanation

The memory limit is too restrictive.

As part of deploying AppsManager, a number of apps are deployed to the Elastic Runtime. Starting `p-invitations-*` and `apps-manager-js-*` apps might fail due to restrictive memory limits.

#### Solution

In the Dynatrace UI, go to **Settings** > **Monitoring overview** and select the **Process groups** tab. Search for the `p-invitations` and `apps-manager-js` process groups disable monitoring for these groups.

Re-run the deployment. Going forward, `p-invitations` and `apps-manager-js` will be disabled from monitoring.

### <a id="dynatrace-post-installation-issues"></a> Applications Not Monitored

#### Symptom

Dynatrace UI shows application process or processes for pushed CloudFoundry Applications as requiring a restart for monitoring to be enabled after multiple application restarts.

#### Explanation

Garden container Service Insights is not turned on within Dynatrace.

A feature toggle for Garden container support is present in the Dynatrace UI and is not enabled by default.

#### Solution

In the Dynatrace UI, go to **Settings > Processes and Containers > Container Monitoring** and ensure that the Garden container Service Insights is toggled to on.

Run `cf restart` to enable monitoring for that application.

###  CloudFoundry System Processes Not Monitored

#### Symptom

Dynatrace UI shows application process or processes for CloudFoundry System Processes (i.e. gorouter, auctioneer, etc) as requiring a restart for monitoring to be enabled after multiple application restarts.

#### Explanation

BOSH Process Manager (BPM) container Service Insights is not turned on within Dynatrace. With TAS 2.3+, many CloudFoundry processes are utilizing BPM.

A feature toggle for BOSH Process Manager (BPM) container support is present in the Dynatrace UI and is not enabled by default.

#### Solution

In the Dynatrace UI, go to **Settings > Processes and Containers > Container Monitoring** and ensure that the BOSH Process Manager (BPM) container Service Insights is toggled to on.

Run `cf restart` to enable monitoring for that application.
