---
title: Uninstalling the Dynatrace Full-Stack Add-on for VMware Tanzu
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to uninstall Dynatrace from your deployment of VMware Tanzu.


## <a id="uninstall"></a> Uninstall the Dynatrace Full-Stack Add-on for VMware Tanzu

1. Retrieve the latest runtime config.

  ```
      $ bosh -e my-env runtime-config > PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  ```

1. Remove the `addons` section(s) for Dynatrace.

  ```
    addons:
    \- name: dynatrace-oneagent-addon
    ...
    \- name: dynatrace-oneagent-windows-addon
    ...
  ```

If no other addons are defined, use an empty array.

  ```
    addons: []
  ```

1. Update the runtime config.

  ```
      $ bosh -e my-env update-runtime-config PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  ```

1. Navigate to your **Installation Dashboard** in Ops Manager.

1. Click **Apply Changes**.
