---
title: Uninstalling the Dynatrace Full-Stack Add-On for PCF
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<strong><%= modified_date %></strong>

This topic describes how to uninstall Dynatrace from your deployment.

##<a id="uninstall"></a>Uninstall the Dynatrace Full-Stack Add-On for PCF

1. Retrieve the latest runtime config.
  <pre class="terminal">
    $ bosh runtime-config > PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>

2. Remove the `addons` section(s) for Dynatrace.
  <pre>
addons:
\- name: dynatrace-oneagent-addon
...
\- name: dynatrace-oneagent-windows-addon
...
  </pre>

3. Update the runtime config.
  <pre class="terminal">
    $ bosh update runtime-config PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>

4. Navigate to your **Installation Dashboard** in Ops Manager.
5. Click **Apply Changes**.
