---
title: Uninstalling the Dynatrace Full-Stack Add-on for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to uninstall Dynatrace from your deployment of Pivotal Cloud Foundry (PCF).


## <a id="uninstall"></a> Uninstall the Dynatrace Full-Stack Add-on for PCF

1. Retrieve the latest runtime config.
  <pre class="terminal">
    $ bosh -e my-env runtime-config > PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>

1. Remove the `addons` section(s) for Dynatrace.
  <pre>
addons:
\- name: dynatrace-oneagent-addon
...
\- name: dynatrace-oneagent-windows-addon
...
  </pre>

1. Update the runtime config.
  <pre class="terminal">
    $ bosh -e my-env update-runtime-config PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>  

1. Navigate to your **Installation Dashboard** in Ops Manager.

1. Click **Apply Changes**.
