---
title: Upgrading the Dynatrace Full-Stack Add-on for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the Dynatrace Full-Stack Add-on for Pivotal Cloud Foundry (PCF).

##<a id="upgrading"></a>Upgrading the Dynatrace Full-Stack Add-on for PCF

1. Upload the new Dynatrace Full-Stack Add-on for PCF release to BOSH director.
   Follow the guidelines in the installation section.

2. Retrieve the latest runtime config.
  * **For Ops Manager v1.10 or earlier:** 
  <pre class="terminal">
    $ bosh runtime-config > PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>
  * **For Ops Manager v1.11 or later:**
  <pre class="terminal">
    $ bosh2 -e my-env runtime-config > PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>

3. Change the release version.
  <pre>
releases:
\- {name: dynatrace-oneagent, version: NEW\_VERSION}
  </pre>


4. Update the runtime config.
  * **For Ops Manager v1.10 or earlier:** 
  <pre class="terminal">
    $ bosh update runtime-config PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>
  * **For Ops Manager v1.11 or later:**
  <pre class="terminal">
    $ bosh2 -e my-env update-runtime-config PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>  

5. Navigate to your **Installation Dashboard** in Ops Manager.
6. Click **Apply Changes**.
