---
title: Upgrading the Dynatrace Full-Stack Add-on for Pivotal Platform
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the Dynatrace Full-Stack Add-On for Pivotal Platform.


## <a id="upgrading"></a> Upgrading the Dynatrace Full-Stack Add-On for Pivotal Platform

1. Upload the new Dynatrace Full-Stack Add-On for Pivotal Platform release to BOSH Director. Follow the guidelines in the installation section.

1. Retrieve the latest runtime config.
  <pre class="terminal">
    $ bosh -e my-env runtime-config > PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>

1. Change the release version.

```
releases:
- {name: dynatrace-oneagent, version: NEW_VERSION}
```

1. Update the runtime config.
  <pre class="terminal">
    $ bosh -e my-env update-runtime-config PATH\_TO\_SAVE\_THE\_RUNTIME\_CONFIG
  </pre>  

1. Navigate to your **Installation Dashboard** in Ops Manager.

1. Click **Apply Changes**.
